<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>taskwizard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCFEB4401CE02F3600A47F9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCFEB4541CE02F3700A47F9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCFEB45F1CE02F3700A47F9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
